
<div *ngIf="entityWithServiceImplAndDTO">
    <h2><span jhiTranslate="jh4TestApp.entityWithServiceImplAndDTO.detail.title">Entity With Service Impl And DTO</span> {{entityWithServiceImplAndDTO.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jh4TestApp.entityWithServiceImplAndDTO.louis">Louis</span></dt>
        <dd>
            <span>{{entityWithServiceImplAndDTO.louis}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'entity-with-service-impl-and-dto/'+ entityWithServiceImplAndDTO.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
