
<div *ngIf="fieldTestServiceClassEntity">
    <h2><span jhiTranslate="jh4TestApp.fieldTestServiceClassEntity.detail.title">Field Test Service Class Entity</span> {{fieldTestServiceClassEntity.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jh4TestApp.fieldTestServiceClassEntity.stringBob">String Bob</span></dt>
        <dd>
            <span>{{fieldTestServiceClassEntity.stringBob}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestServiceClassEntity.stringRequiredBob">String Required Bob</span></dt>
        <dd>
            <span>{{fieldTestServiceClassEntity.stringRequiredBob}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestServiceClassEntity.stringMinlengthBob">String Minlength Bob</span></dt>
        <dd>
            <span>{{fieldTestServiceClassEntity.stringMinlengthBob}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestServiceClassEntity.stringMaxlengthBob">String Maxlength Bob</span></dt>
        <dd>
            <span>{{fieldTestServiceClassEntity.stringMaxlengthBob}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestServiceClassEntity.stringPatternBob">String Pattern Bob</span></dt>
        <dd>
            <span>{{fieldTestServiceClassEntity.stringPatternBob}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestServiceClassEntity.integerBob">Integer Bob</span></dt>
        <dd>
            <span>{{fieldTestServiceClassEntity.integerBob}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestServiceClassEntity.integerRequiredBob">Integer Required Bob</span></dt>
        <dd>
            <span>{{fieldTestServiceClassEntity.integerRequiredBob}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestServiceClassEntity.integerMinBob">Integer Min Bob</span></dt>
        <dd>
            <span>{{fieldTestServiceClassEntity.integerMinBob}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestServiceClassEntity.integerMaxBob">Integer Max Bob</span></dt>
        <dd>
            <span>{{fieldTestServiceClassEntity.integerMaxBob}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestServiceClassEntity.longBob">Long Bob</span></dt>
        <dd>
            <span>{{fieldTestServiceClassEntity.longBob}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestServiceClassEntity.longRequiredBob">Long Required Bob</span></dt>
        <dd>
            <span>{{fieldTestServiceClassEntity.longRequiredBob}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestServiceClassEntity.longMinBob">Long Min Bob</span></dt>
        <dd>
            <span>{{fieldTestServiceClassEntity.longMinBob}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestServiceClassEntity.longMaxBob">Long Max Bob</span></dt>
        <dd>
            <span>{{fieldTestServiceClassEntity.longMaxBob}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestServiceClassEntity.floatBob">Float Bob</span></dt>
        <dd>
            <span>{{fieldTestServiceClassEntity.floatBob}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestServiceClassEntity.floatRequiredBob">Float Required Bob</span></dt>
        <dd>
            <span>{{fieldTestServiceClassEntity.floatRequiredBob}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestServiceClassEntity.floatMinBob">Float Min Bob</span></dt>
        <dd>
            <span>{{fieldTestServiceClassEntity.floatMinBob}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestServiceClassEntity.floatMaxBob">Float Max Bob</span></dt>
        <dd>
            <span>{{fieldTestServiceClassEntity.floatMaxBob}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestServiceClassEntity.doubleRequiredBob">Double Required Bob</span></dt>
        <dd>
            <span>{{fieldTestServiceClassEntity.doubleRequiredBob}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestServiceClassEntity.doubleMinBob">Double Min Bob</span></dt>
        <dd>
            <span>{{fieldTestServiceClassEntity.doubleMinBob}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestServiceClassEntity.doubleMaxBob">Double Max Bob</span></dt>
        <dd>
            <span>{{fieldTestServiceClassEntity.doubleMaxBob}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestServiceClassEntity.bigDecimalRequiredBob">Big Decimal Required Bob</span></dt>
        <dd>
            <span>{{fieldTestServiceClassEntity.bigDecimalRequiredBob}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestServiceClassEntity.bigDecimalMinBob">Big Decimal Min Bob</span></dt>
        <dd>
            <span>{{fieldTestServiceClassEntity.bigDecimalMinBob}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestServiceClassEntity.bigDecimalMaxBob">Big Decimal Max Bob</span></dt>
        <dd>
            <span>{{fieldTestServiceClassEntity.bigDecimalMaxBob}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestServiceClassEntity.localDateBob">Local Date Bob</span></dt>
        <dd>
            <span>{{fieldTestServiceClassEntity.localDateBob | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestServiceClassEntity.localDateRequiredBob">Local Date Required Bob</span></dt>
        <dd>
            <span>{{fieldTestServiceClassEntity.localDateRequiredBob | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestServiceClassEntity.instantBob">Instant Bob</span></dt>
        <dd>
            <span>{{fieldTestServiceClassEntity.instantBob | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestServiceClassEntity.instanteRequiredBob">Instante Required Bob</span></dt>
        <dd>
            <span>{{fieldTestServiceClassEntity.instanteRequiredBob | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestServiceClassEntity.zonedDateTimeBob">Zoned Date Time Bob</span></dt>
        <dd>
            <span>{{fieldTestServiceClassEntity.zonedDateTimeBob | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestServiceClassEntity.zonedDateTimeRequiredBob">Zoned Date Time Required Bob</span></dt>
        <dd>
            <span>{{fieldTestServiceClassEntity.zonedDateTimeRequiredBob | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestServiceClassEntity.booleanBob">Boolean Bob</span></dt>
        <dd>
            <span>{{fieldTestServiceClassEntity.booleanBob}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestServiceClassEntity.booleanRequiredBob">Boolean Required Bob</span></dt>
        <dd>
            <span>{{fieldTestServiceClassEntity.booleanRequiredBob}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestServiceClassEntity.enumBob">Enum Bob</span></dt>
        <dd>
            <span jhiTranslate="{{'jh4TestApp.EnumFieldClass.' + fieldTestServiceClassEntity.enumBob}}">{{fieldTestServiceClassEntity.enumBob}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestServiceClassEntity.enumRequiredBob">Enum Required Bob</span></dt>
        <dd>
            <span jhiTranslate="{{'jh4TestApp.EnumRequiredFieldClass.' + fieldTestServiceClassEntity.enumRequiredBob}}">{{fieldTestServiceClassEntity.enumRequiredBob}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestServiceClassEntity.byteImageBob">Byte Image Bob</span></dt>
        <dd>
            <div *ngIf="fieldTestServiceClassEntity.byteImageBob">
                <a (click)="openFile(fieldTestServiceClassEntity.byteImageBobContentType, fieldTestServiceClassEntity.byteImageBob)">
                    <img [src]="'data:' + fieldTestServiceClassEntity.byteImageBobContentType + ';base64,' + fieldTestServiceClassEntity.byteImageBob" style="max-width: 100%;" alt="fieldTestServiceClassEntity image"/>
                </a>
                {{fieldTestServiceClassEntity.byteImageBobContentType}}, {{byteSize(fieldTestServiceClassEntity.byteImageBob)}}
            </div>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestServiceClassEntity.byteImageRequiredBob">Byte Image Required Bob</span></dt>
        <dd>
            <div *ngIf="fieldTestServiceClassEntity.byteImageRequiredBob">
                <a (click)="openFile(fieldTestServiceClassEntity.byteImageRequiredBobContentType, fieldTestServiceClassEntity.byteImageRequiredBob)">
                    <img [src]="'data:' + fieldTestServiceClassEntity.byteImageRequiredBobContentType + ';base64,' + fieldTestServiceClassEntity.byteImageRequiredBob" style="max-width: 100%;" alt="fieldTestServiceClassEntity image"/>
                </a>
                {{fieldTestServiceClassEntity.byteImageRequiredBobContentType}}, {{byteSize(fieldTestServiceClassEntity.byteImageRequiredBob)}}
            </div>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestServiceClassEntity.byteImageMinbytesBob">Byte Image Minbytes Bob</span></dt>
        <dd>
            <div *ngIf="fieldTestServiceClassEntity.byteImageMinbytesBob">
                <a (click)="openFile(fieldTestServiceClassEntity.byteImageMinbytesBobContentType, fieldTestServiceClassEntity.byteImageMinbytesBob)">
                    <img [src]="'data:' + fieldTestServiceClassEntity.byteImageMinbytesBobContentType + ';base64,' + fieldTestServiceClassEntity.byteImageMinbytesBob" style="max-width: 100%;" alt="fieldTestServiceClassEntity image"/>
                </a>
                {{fieldTestServiceClassEntity.byteImageMinbytesBobContentType}}, {{byteSize(fieldTestServiceClassEntity.byteImageMinbytesBob)}}
            </div>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestServiceClassEntity.byteImageMaxbytesBob">Byte Image Maxbytes Bob</span></dt>
        <dd>
            <div *ngIf="fieldTestServiceClassEntity.byteImageMaxbytesBob">
                <a (click)="openFile(fieldTestServiceClassEntity.byteImageMaxbytesBobContentType, fieldTestServiceClassEntity.byteImageMaxbytesBob)">
                    <img [src]="'data:' + fieldTestServiceClassEntity.byteImageMaxbytesBobContentType + ';base64,' + fieldTestServiceClassEntity.byteImageMaxbytesBob" style="max-width: 100%;" alt="fieldTestServiceClassEntity image"/>
                </a>
                {{fieldTestServiceClassEntity.byteImageMaxbytesBobContentType}}, {{byteSize(fieldTestServiceClassEntity.byteImageMaxbytesBob)}}
            </div>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestServiceClassEntity.byteAnyBob">Byte Any Bob</span></dt>
        <dd>
            <div *ngIf="fieldTestServiceClassEntity.byteAnyBob">
                <a (click)="openFile(fieldTestServiceClassEntity.byteAnyBobContentType, fieldTestServiceClassEntity.byteAnyBob)" jhiTranslate="entity.action.open">open</a>
                {{fieldTestServiceClassEntity.byteAnyBobContentType}}, {{byteSize(fieldTestServiceClassEntity.byteAnyBob)}}
            </div>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestServiceClassEntity.byteAnyRequiredBob">Byte Any Required Bob</span></dt>
        <dd>
            <div *ngIf="fieldTestServiceClassEntity.byteAnyRequiredBob">
                <a (click)="openFile(fieldTestServiceClassEntity.byteAnyRequiredBobContentType, fieldTestServiceClassEntity.byteAnyRequiredBob)" jhiTranslate="entity.action.open">open</a>
                {{fieldTestServiceClassEntity.byteAnyRequiredBobContentType}}, {{byteSize(fieldTestServiceClassEntity.byteAnyRequiredBob)}}
            </div>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestServiceClassEntity.byteAnyMinbytesBob">Byte Any Minbytes Bob</span></dt>
        <dd>
            <div *ngIf="fieldTestServiceClassEntity.byteAnyMinbytesBob">
                <a (click)="openFile(fieldTestServiceClassEntity.byteAnyMinbytesBobContentType, fieldTestServiceClassEntity.byteAnyMinbytesBob)" jhiTranslate="entity.action.open">open</a>
                {{fieldTestServiceClassEntity.byteAnyMinbytesBobContentType}}, {{byteSize(fieldTestServiceClassEntity.byteAnyMinbytesBob)}}
            </div>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestServiceClassEntity.byteAnyMaxbytesBob">Byte Any Maxbytes Bob</span></dt>
        <dd>
            <div *ngIf="fieldTestServiceClassEntity.byteAnyMaxbytesBob">
                <a (click)="openFile(fieldTestServiceClassEntity.byteAnyMaxbytesBobContentType, fieldTestServiceClassEntity.byteAnyMaxbytesBob)" jhiTranslate="entity.action.open">open</a>
                {{fieldTestServiceClassEntity.byteAnyMaxbytesBobContentType}}, {{byteSize(fieldTestServiceClassEntity.byteAnyMaxbytesBob)}}
            </div>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestServiceClassEntity.byteTextBob">Byte Text Bob</span></dt>
        <dd>
            <span>{{fieldTestServiceClassEntity.byteTextBob}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestServiceClassEntity.byteTextRequiredBob">Byte Text Required Bob</span></dt>
        <dd>
            <span>{{fieldTestServiceClassEntity.byteTextRequiredBob}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestServiceClassEntity.byteTextMinbytesBob">Byte Text Minbytes Bob</span></dt>
        <dd>
            <span>{{fieldTestServiceClassEntity.byteTextMinbytesBob}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestServiceClassEntity.byteTextMaxbytesBob">Byte Text Maxbytes Bob</span></dt>
        <dd>
            <span>{{fieldTestServiceClassEntity.byteTextMaxbytesBob}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'field-test-service-class-entity/'+ fieldTestServiceClassEntity.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
