
<div *ngIf="fieldTestEntity">
    <h2><span jhiTranslate="jh4TestApp.fieldTestEntity.detail.title">Field Test Entity</span> {{fieldTestEntity.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jh4TestApp.fieldTestEntity.stringTom">String Tom</span></dt>
        <dd>
            <span>{{fieldTestEntity.stringTom}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestEntity.stringRequiredTom">String Required Tom</span></dt>
        <dd>
            <span>{{fieldTestEntity.stringRequiredTom}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestEntity.stringMinlengthTom">String Minlength Tom</span></dt>
        <dd>
            <span>{{fieldTestEntity.stringMinlengthTom}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestEntity.stringMaxlengthTom">String Maxlength Tom</span></dt>
        <dd>
            <span>{{fieldTestEntity.stringMaxlengthTom}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestEntity.stringPatternTom">String Pattern Tom</span></dt>
        <dd>
            <span>{{fieldTestEntity.stringPatternTom}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestEntity.integerTom">Integer Tom</span></dt>
        <dd>
            <span>{{fieldTestEntity.integerTom}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestEntity.integerRequiredTom">Integer Required Tom</span></dt>
        <dd>
            <span>{{fieldTestEntity.integerRequiredTom}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestEntity.integerMinTom">Integer Min Tom</span></dt>
        <dd>
            <span>{{fieldTestEntity.integerMinTom}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestEntity.integerMaxTom">Integer Max Tom</span></dt>
        <dd>
            <span>{{fieldTestEntity.integerMaxTom}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestEntity.longTom">Long Tom</span></dt>
        <dd>
            <span>{{fieldTestEntity.longTom}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestEntity.longRequiredTom">Long Required Tom</span></dt>
        <dd>
            <span>{{fieldTestEntity.longRequiredTom}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestEntity.longMinTom">Long Min Tom</span></dt>
        <dd>
            <span>{{fieldTestEntity.longMinTom}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestEntity.longMaxTom">Long Max Tom</span></dt>
        <dd>
            <span>{{fieldTestEntity.longMaxTom}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestEntity.floatTom">Float Tom</span></dt>
        <dd>
            <span>{{fieldTestEntity.floatTom}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestEntity.floatRequiredTom">Float Required Tom</span></dt>
        <dd>
            <span>{{fieldTestEntity.floatRequiredTom}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestEntity.floatMinTom">Float Min Tom</span></dt>
        <dd>
            <span>{{fieldTestEntity.floatMinTom}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestEntity.floatMaxTom">Float Max Tom</span></dt>
        <dd>
            <span>{{fieldTestEntity.floatMaxTom}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestEntity.doubleRequiredTom">Double Required Tom</span></dt>
        <dd>
            <span>{{fieldTestEntity.doubleRequiredTom}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestEntity.doubleMinTom">Double Min Tom</span></dt>
        <dd>
            <span>{{fieldTestEntity.doubleMinTom}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestEntity.doubleMaxTom">Double Max Tom</span></dt>
        <dd>
            <span>{{fieldTestEntity.doubleMaxTom}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestEntity.bigDecimalRequiredTom">Big Decimal Required Tom</span></dt>
        <dd>
            <span>{{fieldTestEntity.bigDecimalRequiredTom}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestEntity.bigDecimalMinTom">Big Decimal Min Tom</span></dt>
        <dd>
            <span>{{fieldTestEntity.bigDecimalMinTom}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestEntity.bigDecimalMaxTom">Big Decimal Max Tom</span></dt>
        <dd>
            <span>{{fieldTestEntity.bigDecimalMaxTom}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestEntity.localDateTom">Local Date Tom</span></dt>
        <dd>
            <span>{{fieldTestEntity.localDateTom | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestEntity.localDateRequiredTom">Local Date Required Tom</span></dt>
        <dd>
            <span>{{fieldTestEntity.localDateRequiredTom | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestEntity.instantTom">Instant Tom</span></dt>
        <dd>
            <span>{{fieldTestEntity.instantTom | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestEntity.instanteRequiredTom">Instante Required Tom</span></dt>
        <dd>
            <span>{{fieldTestEntity.instanteRequiredTom | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestEntity.zonedDateTimeTom">Zoned Date Time Tom</span></dt>
        <dd>
            <span>{{fieldTestEntity.zonedDateTimeTom | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestEntity.zonedDateTimeRequiredTom">Zoned Date Time Required Tom</span></dt>
        <dd>
            <span>{{fieldTestEntity.zonedDateTimeRequiredTom | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestEntity.booleanTom">Boolean Tom</span></dt>
        <dd>
            <span>{{fieldTestEntity.booleanTom}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestEntity.booleanRequiredTom">Boolean Required Tom</span></dt>
        <dd>
            <span>{{fieldTestEntity.booleanRequiredTom}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestEntity.enumTom">Enum Tom</span></dt>
        <dd>
            <span jhiTranslate="{{'jh4TestApp.EnumFieldClass.' + fieldTestEntity.enumTom}}">{{fieldTestEntity.enumTom}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestEntity.enumRequiredTom">Enum Required Tom</span></dt>
        <dd>
            <span jhiTranslate="{{'jh4TestApp.EnumRequiredFieldClass.' + fieldTestEntity.enumRequiredTom}}">{{fieldTestEntity.enumRequiredTom}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestEntity.byteImageTom">Byte Image Tom</span></dt>
        <dd>
            <div *ngIf="fieldTestEntity.byteImageTom">
                <a (click)="openFile(fieldTestEntity.byteImageTomContentType, fieldTestEntity.byteImageTom)">
                    <img [src]="'data:' + fieldTestEntity.byteImageTomContentType + ';base64,' + fieldTestEntity.byteImageTom" style="max-width: 100%;" alt="fieldTestEntity image"/>
                </a>
                {{fieldTestEntity.byteImageTomContentType}}, {{byteSize(fieldTestEntity.byteImageTom)}}
            </div>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestEntity.byteImageRequiredTom">Byte Image Required Tom</span></dt>
        <dd>
            <div *ngIf="fieldTestEntity.byteImageRequiredTom">
                <a (click)="openFile(fieldTestEntity.byteImageRequiredTomContentType, fieldTestEntity.byteImageRequiredTom)">
                    <img [src]="'data:' + fieldTestEntity.byteImageRequiredTomContentType + ';base64,' + fieldTestEntity.byteImageRequiredTom" style="max-width: 100%;" alt="fieldTestEntity image"/>
                </a>
                {{fieldTestEntity.byteImageRequiredTomContentType}}, {{byteSize(fieldTestEntity.byteImageRequiredTom)}}
            </div>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestEntity.byteImageMinbytesTom">Byte Image Minbytes Tom</span></dt>
        <dd>
            <div *ngIf="fieldTestEntity.byteImageMinbytesTom">
                <a (click)="openFile(fieldTestEntity.byteImageMinbytesTomContentType, fieldTestEntity.byteImageMinbytesTom)">
                    <img [src]="'data:' + fieldTestEntity.byteImageMinbytesTomContentType + ';base64,' + fieldTestEntity.byteImageMinbytesTom" style="max-width: 100%;" alt="fieldTestEntity image"/>
                </a>
                {{fieldTestEntity.byteImageMinbytesTomContentType}}, {{byteSize(fieldTestEntity.byteImageMinbytesTom)}}
            </div>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestEntity.byteImageMaxbytesTom">Byte Image Maxbytes Tom</span></dt>
        <dd>
            <div *ngIf="fieldTestEntity.byteImageMaxbytesTom">
                <a (click)="openFile(fieldTestEntity.byteImageMaxbytesTomContentType, fieldTestEntity.byteImageMaxbytesTom)">
                    <img [src]="'data:' + fieldTestEntity.byteImageMaxbytesTomContentType + ';base64,' + fieldTestEntity.byteImageMaxbytesTom" style="max-width: 100%;" alt="fieldTestEntity image"/>
                </a>
                {{fieldTestEntity.byteImageMaxbytesTomContentType}}, {{byteSize(fieldTestEntity.byteImageMaxbytesTom)}}
            </div>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestEntity.byteAnyTom">Byte Any Tom</span></dt>
        <dd>
            <div *ngIf="fieldTestEntity.byteAnyTom">
                <a (click)="openFile(fieldTestEntity.byteAnyTomContentType, fieldTestEntity.byteAnyTom)" jhiTranslate="entity.action.open">open</a>
                {{fieldTestEntity.byteAnyTomContentType}}, {{byteSize(fieldTestEntity.byteAnyTom)}}
            </div>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestEntity.byteAnyRequiredTom">Byte Any Required Tom</span></dt>
        <dd>
            <div *ngIf="fieldTestEntity.byteAnyRequiredTom">
                <a (click)="openFile(fieldTestEntity.byteAnyRequiredTomContentType, fieldTestEntity.byteAnyRequiredTom)" jhiTranslate="entity.action.open">open</a>
                {{fieldTestEntity.byteAnyRequiredTomContentType}}, {{byteSize(fieldTestEntity.byteAnyRequiredTom)}}
            </div>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestEntity.byteAnyMinbytesTom">Byte Any Minbytes Tom</span></dt>
        <dd>
            <div *ngIf="fieldTestEntity.byteAnyMinbytesTom">
                <a (click)="openFile(fieldTestEntity.byteAnyMinbytesTomContentType, fieldTestEntity.byteAnyMinbytesTom)" jhiTranslate="entity.action.open">open</a>
                {{fieldTestEntity.byteAnyMinbytesTomContentType}}, {{byteSize(fieldTestEntity.byteAnyMinbytesTom)}}
            </div>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestEntity.byteAnyMaxbytesTom">Byte Any Maxbytes Tom</span></dt>
        <dd>
            <div *ngIf="fieldTestEntity.byteAnyMaxbytesTom">
                <a (click)="openFile(fieldTestEntity.byteAnyMaxbytesTomContentType, fieldTestEntity.byteAnyMaxbytesTom)" jhiTranslate="entity.action.open">open</a>
                {{fieldTestEntity.byteAnyMaxbytesTomContentType}}, {{byteSize(fieldTestEntity.byteAnyMaxbytesTom)}}
            </div>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestEntity.byteTextTom">Byte Text Tom</span></dt>
        <dd>
            <span>{{fieldTestEntity.byteTextTom}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestEntity.byteTextRequiredTom">Byte Text Required Tom</span></dt>
        <dd>
            <span>{{fieldTestEntity.byteTextRequiredTom}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestEntity.byteTextMinbytesTom">Byte Text Minbytes Tom</span></dt>
        <dd>
            <span>{{fieldTestEntity.byteTextMinbytesTom}}</span>
        </dd>
        <dt><span jhiTranslate="jh4TestApp.fieldTestEntity.byteTextMaxbytesTom">Byte Text Maxbytes Tom</span></dt>
        <dd>
            <span>{{fieldTestEntity.byteTextMaxbytesTom}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'field-test-entity/'+ fieldTestEntity.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
