<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDivisionLabel" jhiTranslate="jh4TestApp.division.home.createOrEditLabel">Create or edit a Division</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!division.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="division.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jh4TestApp.division.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="division.name" required />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jh4TestApp.division.shortName" for="field_shortName">Short Name</label>
            <input type="text" class="form-control" name="shortName" id="field_shortName"
                [(ngModel)]="division.shortName"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jh4TestApp.division.numberOfPeople" for="field_numberOfPeople">Number Of People</label>
            <input type="number" class="form-control" name="numberOfPeople" id="field_numberOfPeople"
                [(ngModel)]="division.numberOfPeople"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jh4TestApp.division.divisionType" for="field_divisionType">Division Type</label>
            <select class="form-control" name="divisionType" [(ngModel)]="division.divisionType" id="field_divisionType"  required>
                <option value="SCHOOL" jhiTranslate="jh4TestApp.DivisionType.SCHOOL">SCHOOL</option>
                <option value="CLASS" jhiTranslate="jh4TestApp.DivisionType.CLASS">CLASS</option>
                <option value="SUBGROUP" jhiTranslate="jh4TestApp.DivisionType.SUBGROUP">SUBGROUP</option>
            </select>
            <div [hidden]="!(editForm.controls.divisionType?.dirty && editForm.controls.divisionType?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.divisionType?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jh4TestApp.division.colorBackground" for="field_colorBackground">Color Background</label>
            <input type="text" class="form-control" name="colorBackground" id="field_colorBackground"
                [(ngModel)]="division.colorBackground"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jh4TestApp.division.colorText" for="field_colorText">Color Text</label>
            <input type="text" class="form-control" name="colorText" id="field_colorText"
                [(ngModel)]="division.colorText"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
