
<div *ngIf="entityWithServiceClassAndDTO">
    <h2><span jhiTranslate="jh4TestApp.entityWithServiceClassAndDTO.detail.title">Entity With Service Class And DTO</span> {{entityWithServiceClassAndDTO.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jh4TestApp.entityWithServiceClassAndDTO.lucas">Lucas</span></dt>
        <dd>
            <span>{{entityWithServiceClassAndDTO.lucas}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'entity-with-service-class-and-dto/'+ entityWithServiceClassAndDTO.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
