<div>
    <h2>
        <span jhiTranslate="jh4TestApp.place.home.title">Places</span>
        <button class="btn btn-primary float-right create-place" [routerLink]="['/', { outlets: { popup: ['place-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="jh4TestApp.place.home.createLabel">
            Create new Place
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'jh4TestApp.place.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="places">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jh4TestApp.place.name">Name</span></th>
            <th><span jhiTranslate="jh4TestApp.place.numberOfSeats">Number Of Seats</span></th>
            <th><span jhiTranslate="jh4TestApp.place.shortName">Short Name</span></th>
            <th><span jhiTranslate="jh4TestApp.place.colorBackground">Color Background</span></th>
            <th><span jhiTranslate="jh4TestApp.place.colorText">Color Text</span></th>
            <th><span jhiTranslate="jh4TestApp.place.preferredDivision">Preferred Division</span></th>
            <th><span jhiTranslate="jh4TestApp.place.owner">Owner</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let place of places ;trackBy: trackId">
                <td><a [routerLink]="['../place', place.id ]">{{place.id}}</a></td>
                <td>{{place.name}}</td>
                <td>{{place.numberOfSeats}}</td>
                <td>{{place.shortName}}</td>
                <td>{{place.colorBackground}}</td>
                <td>{{place.colorText}}</td>
                <td>
                    <span *ngFor="let preferredDivision of place.preferredDivisions; let last = last">
                            <a class="form-control-static" [routerLink]="['../division', preferredDivision?.id ]">{{preferredDivision.name}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <div *ngIf="place.owner">
                        <a [routerLink]="['../division', place.owner?.id ]" >{{place.owner?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../place', place.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'place/'+ place.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'place/'+ place.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
